# Files to ignore

# Debbuging
tests/output/

# parKVFinder source code
etc/*.h
etc/*.c
etc/metrics/
etc/templates/cavities/
!etc/templates/box.toml

# Virtual environment
venv/

# Ignore __pycache__
*/__pycache__/
*/*/__pycache__/

# Ignore KV_Files
KV_Files/
*/KV_Files/
*/*/KV_Files/
