# Files to ignore

# Debbuging
tests/output/
.vscode/

# Virtual environment
venv/

# Benchmarking dataset
etc/performance/kv1000/
etc/performance/raw/

# Benchmarking scripts
!etc/performance/scripts/

# Cavity templates (.pdb and .cif)
etc/templates/cavities/

# Box configuration file template
!etc/templates/box.toml

# Ignore __pycache__
*/__pycache__/
*/*/__pycache__/

# Ignore KV_Files
KV_Files/
*/KV_Files/
*/*/KV_Files/
