# Files to ignore

# Debbuging
tests/data/output/
.vscode/

# Virtual environment
venv/

# Molecular dynamics analysis data
etc/md-analysis/data/
etc/md-analysis/results/
etc/md-analysis/box.toml

# Molecular dynamics analysis data
etc/evolutive-analysis/data/
etc/evolutive-analysis/results/
etc/evolutive-analysis/box.toml

# Benchmarking data (kv1000, raw, plots)
etc/performance/data/

# Benchmarking scripts
!etc/performance/scripts/
etc/performance/scripts/parKVFinder*

# Cavity templates (.pdb and .cif)
etc/templates/cavities/

# Cavity templates (.pdb and .cif)
etc/formats

# Box configuration file template
!etc/templates/box.toml

# Ignore __pycache__
*/__pycache__/
*/*/__pycache__/

# Ignore KV_Files
KV_Files/
*/KV_Files/
*/*/KV_Files/
