# Include vdw dictionary data file 
include pyKVFinder/data/vdw.dat

# Include hydrophobicity scales
include pyKVFinder/data/*.toml

# Include examples
include pyKVFinder/data/tests/*.toml
include pyKVFinder/data/tests/*.pdb
include pyKVFinder/data/tests/*.xyz

# Include the license file
include LICENSE

# Include README
include README.md

# Include Python requirements
include requirements.txt

# Include C source code
include C/*
