# Include vdw dictionary data file 
include pyKVFinder/data/vdw.dat

# Include hydrophobicity scales
include pyKVFinder/data/*.toml

# Include examples
include pyKVFinder/data/tests/*.toml
include pyKVFinder/data/tests/*.pdb

# Include the license file
include LICENSE.txt

# Include the README
include README.rst
